<nav class="bg-primary-200 flex justify-around items-center p-1 text-black">
  <div class="flex flex-col items-center" (click)="navigateTo('festival-start')">
    <div [ngClass]="{'bg-pink-600 rounded-full': activeTab() === 'festival-start'}">
      <span class="material-icons text-sm">home</span>
    </div>
    <span class="text-xs">Home</span>
  </div>

  <div class="flex flex-col items-center" (click)="navigateTo('map')">
    <div [ngClass]="{'bg-pink-600 rounded-full': activeTab() === 'map'}">
      <span class="material-icons text-sm">map</span>
    </div>
    <span class="text-xs">Map</span>
  </div>

  <div class="flex flex-col items-center" (click)="navigateTo('timetable')"> <!--TODO-->
    <span class="material-icons text-sm">event</span>
    <span class="text-xs">Timetable</span>
  </div>

  <div class="flex flex-col items-center" (click)="navigateTo('info')">
    <div [ngClass]="{'bg-pink-600 rounded-full': activeTab() === 'info'}">
      <span class="material-icons text-sm">more_horiz</span>
    </div>
    <span class="text-xs">Info</span>
  </div>
</nav>

