<nav class="bg-primary-600 flex justify-around items-center p-1 text-white">
  <div
    class="flex flex-col items-center justify-center w-16 h-16 rounded-full"
    (click)="navigateTo('festival-start')"
    [ngClass]="{ 'bg-primary-500': activeTab() === 'festival-start' }"
  >
    <span class="material-icons text-lg">home</span>
    <span class="text-xs">Home</span>
  </div>

  <div
    class="flex flex-col items-center justify-center w-16 h-16 rounded-full"
    (click)="navigateTo('map')"
    [ngClass]="{ 'bg-primary-500': activeTab() === 'map' }"
  >
    <span class="material-icons text-lg">map</span>
    <span class="text-xs">Map</span>
  </div>

  <div
    class="flex flex-col items-center justify-center w-16 h-16 rounded-full"
    (click)="navigateTo('timetable')"
    [ngClass]="{ 'bg-primary-500': activeTab() === 'timetable' }"
  >
    <span class="material-icons text-lg">event</span>
    <span class="text-xs">Timetable</span>
  </div>

  <div
    class="flex flex-col items-center justify-center w-16 h-16 rounded-full"
    (click)="navigateTo('info')"
    [ngClass]="{ 'bg-primary-500': activeTab() === 'info' }"
  >
    <span class="material-icons text-lg">more_horiz</span>
    <span class="text-xs">Info</span>
  </div>
</nav>
