<div class="min-h-screen bg-background-50 p-2">
  <input
    type="text"
    placeholder="Add Friends with Tag..."
    class="w-full p-2 rounded-lg text-white  bg-background-800"
  />
  <div class="bg-background-700 p-3 rounded-xl mt-4 text-white">
    <h2>Friend Requests:</h2>
    @for (request of friendRequests(); track $index) {
      <div class="flex justify-between items-center mt-2">
        <span>{{ request.name }}</span>
        <div class="space-x-4 flex items-center">
          <button (click)="declineRequest($index)" class="bg-red-500 w-6 h-6 rounded-full flex items-center justify-center">
            <span class="material-icons text-white">close</span>
          </button>
          <button (click)="acceptRequest($index)" class="bg-green-500 w-6 h-6 rounded-full flex items-center justify-center">
            <span class="material-icons text-white">check</span>
          </button>
        </div>
      </div>
    }
  </div>
  <h2 class="mt-6 font-semibold">All Friends</h2>
  @for (msg of messages(); track $index) {
    <div class="flex items-center space-x-4 py-3 border-b border-gray-700">
      <img [src]="msg.avatar" alt="Avatar" class="w-10 h-10 rounded-full">
      <div class="flex-1">
        <h3 class="font-semibold">{{ msg.name }}</h3>
        <p class="text-sm text-gray-400 truncate w-48">{{ msg.message }}</p>
      </div>
      <span class="text-gray-500 text-sm">{{ msg.date }}</span>
    </div>
  }
</div>

<app-navbar-user class="fixed bottom-0 w-full"></app-navbar-user>
