@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@layer base {
  :root {
    --foreground-100: #010606;
    --foreground-200: #020c0c;
    --foreground-300: #031213;
    --foreground-400: #041819;
    --foreground-500: #051e1f;
    --foreground-600: #374b4c;
    --foreground-700: #697879;
    --foreground-800: #9ba5a5;
    --foreground-900: #cdd2d2;

    --background-100: #fdfeff;
    --background-200: #fbfefe;
    --background-300: #f8fdfe;
    --background-400: #f6fdfd;
    --background-500: #f4fcfd;
    --background-600: #c3caca;
    --background-700: #929798;
    --background-800: #626565;
    --background-900: #313233;

    --primary-100: #051619;
    --primary-200: #0a2d32;
    --primary-300: #10434a;
    --primary-400: #155a63;
    --primary-500: #1a707c;
    --primary-600: #488d96;
    --primary-700: #76a9b0;
    --primary-800: #a3c6cb;
    --primary-900: #d1e2e5;

    --secondary-100: #070013;
    --secondary-200: #0d0025;
    --secondary-300: #140038;
    --secondary-400: #1a004a;
    --secondary-500: #21005d;
    --secondary-600: #4d337d;
    --secondary-700: #7a669e;
    --secondary-800: #a699be;
    --secondary-900: #d3ccdf;

    --accent-100: #08262c;
    --accent-200: #104d58;
    --accent-300: #187385;
    --accent-400: #209ab1;
    --accent-500: #28c0dd;
    --accent-600: #53cde4;
    --accent-700: #7ed9eb;
    --accent-800: #a9e6f1;
    --accent-900: #d4f2f8;
  }

  .dark {
    --foreground-100: #fdfeff;
    --foreground-200: #fbfefe;
    --foreground-300: #f8fdfe;
    --foreground-400: #f6fdfd;
    --foreground-500: #f4fcfd;
    --foreground-600: #c3caca;
    --foreground-700: #929798;
    --foreground-800: #626565;
    --foreground-900: #313233;

    --background-100: #cdd2d2;
    --background-200: #9ba5a5;
    --background-300: #697879;
    --background-400: #374b4c;
    --background-500: #051e1f;
    --background-600: #041819;
    --background-700: #031213;
    --background-800: #020c0c;
    --background-900: #010606;

    --primary-100: #d1e2e5;
    --primary-200: #a3c6cb;
    --primary-300: #76a9b0;
    --primary-400: #488d96;
    --primary-500: #1a707c;
    --primary-600: #155a63;
    --primary-700: #10434a;
    --primary-800: #0a2d32;
    --primary-900: #051619;

    --secondary-100: #d3ccdf;
    --secondary-200: #a699be;
    --secondary-300: #7a669e;
    --secondary-400: #4d337d;
    --secondary-500: #21005d;
    --secondary-600: #1a004a;
    --secondary-700: #140038;
    --secondary-800: #0d0025;
    --secondary-900: #070013;

    --accent-100: #d4f2f8;
    --accent-200: #a9e6f1;
    --accent-300: #7ed9eb;
    --accent-400: #53cde4;
    --accent-500: #28c0dd;
    --accent-600: #209ab1;
    --accent-700: #187385;
    --accent-800: #104d58;
    --accent-900: #08262c;
  }
}
