<div class="flex items-center justify-between p-2">
  <button
  (click)="back()"
  class="w-10 h-10 rounded-full flex items-center justify-center shadow-lg m-2"
>
  <span class="material-icons text-2xl">undo</span>
</button>

  <h1 class="text-2xl mt-2">Artists</h1>
  <app-bell></app-bell>
</div>

<div class="p-2">
  <div class="mt-4 space-y-4 mb-28">
    @for (artist of artists; track $index) {
    <div class="relative rounded-lg">
      <img [src]="artist.image" class="w-full h-40 object-cover overflow-hidden" />
      <div
        class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50"
      >
        <span class="text-white font-semibold">{{ artist.name }}</span>
      </div>
      <button class="absolute top-2 right-2 text-white">
        <i class="fas fa-heart"></i>
      </button>
    </div>
    }
  </div>
</div>

<app-navbar-festival class="fixed bottom-0 w-full"></app-navbar-festival>
