<div class="p-4 bg-background-50 min-h-screen mt-12">
  <div class="fixed top-0 left-0 w-full flex items-center justify-between p-2 bg-primary-900">
    <input
      type="text"
      placeholder="Find Artists ..."
      class="w-full p-2 rounded-lg bg-primary-400 text-sm"
    />
  </div>
   @for (artist of artists; track $index) {
    <div class="flex items-center justify-between bg-primary-800 p-4 rounded-lg mb-3">
      <div class="flex items-center space-x-2">
        <img [src]="artist.image" class="h-12 w-12 rounded-xl object-contain" alt="Artist Logo">
        <span class="text-black placeholder:text-black text-sm">{{ artist.name }}</span>
      </div>
      <button (click)="toggleFavorite(artist)">
        <span class="material-icons text-2xl">
          {{ artist.favorite ? 'favorite' : 'favorite_border' }}
        </span>
      </button>
    </div>
   }
   <div class="mt-20"></div>
</div>

<app-navbar-user class="fixed bottom-0 w-full"></app-navbar-user>
