<mat-accordion>
    <mat-expansion-panel colorize="green" class="w-[70svw] bg-background-400 hover:bg-background-400">
        <mat-expansion-panel-header class="">
            <mat-panel-title class="w-full h-full flex justify-center items-center"><div class="text-center flex justify-center items-center text-foreground-500">Lineup / Timetable</div></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="w-full h-full flex justify-center items-center">
            <p>I'm visible because I am open</p>
        </div>
    </mat-expansion-panel>
</mat-accordion>