<div class="flex flex-col items-center">
  <img src="slogan.png" alt="Slogan image" class="w-full" />
  <h1 class="text-foreground-800 m-2 my-6 text-2xl">Welcome to AttendeeGo</h1>

  <div class="space-y-4 flex flex-col w-full px-4">
    <button
      [routerLink]="'/festival-start'"
      class="bg-primary-700 text-white p-4 rounded-2xl text-lg w-full"
    >
      RegEx Rave
    </button>
    <button
      [routerLink]="'/festival-start'"
      class="bg-primary-700 text-white p-4 rounded-2xl text-lg w-full"
    >
      Syntax Symphony
    </button>
    <button
      [routerLink]="'/festival-start'"
      class="bg-primary-700 text-white p-4 rounded-2xl text-lg w-full"
    >
      BitBash
    </button>
    <button
      [routerLink]="'/festival-start'"
      class="bg-primary-700 text-white p-4 rounded-2xl text-lg w-full"
    >
      Sound Stack
    </button>
  </div>
</div>

<app-navbar-user class="fixed bottom-0 w-full"></app-navbar-user>
