<div class="flex w-full flex-row justify-between items-center py-3 px-14 bg-primary-800 shadow-lg">
    <div id="title" class="flex flex-row justify-center items-center h-full text-center">
        <div class="text-3xl text-center h-full items-center justify-self-center m-0">Overview</div>
        <mat-icon aria-hidden="false" aria-label="Arrow Down" fontIcon="arrow-down"></mat-icon>
    </div>
    <div id="profile">
        <img class="h-[5vh] aspect-square overflow-hidden object-cover rounded-full" src="https://imgs.search.brave.com/9AYKlqkqhkaYkPLnfAA7msaZRoYtp0PPi00VbnHvaB0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzJhLzdk/LzRjLzJhN2Q0YzRi/YzEzODFhNDc2Yjhi/OGE4NTg4NWFjMzky/LmpwZw"/>
    </div>
</div>
