<div class="flex w-full flex-row justify-between items-center py-3 px-14 bg-primary-800 shadow-lg fixed top-0 left-0 z-50 select-none">
    <div (click)="goHome()" id="title" class="flex flex-row justify-center items-center h-full text-center hover:bg-white/20 p-2 rounded-lg">
        <div class="text-3xl text-center h-full items-center justify-self-center m-0">{{ festivalName() }}</div>
        <mat-icon aria-hidden="false" aria-label="Arrow Down" fontIcon="arrow-down"></mat-icon>
    </div>
    @if (id() !== 0) {
        <div class="flex flex-row w-1/3 items-center justify-evenly cursor-pointer">
            <div (click)="goTo('content')" [classList]="string() === 0?'active rounded-l-lg':'inactive rounded-l-lg'">
                Content
            </div>
            <div (click)="goTo('social')" [classList]="string() === 1?'active':'inactive'">
                Social/Ads
            </div>
            <div (click)="goTo('statistic')" [classList]="string() === 2?'active rounded-r-lg':'inactive rounded-r-lg'">
                Statistics
            </div>
        </div>
    }
    <div id="profile">
        <img class="h-[5vh] aspect-square cursor-pointer overflow-hidden object-cover rounded-full" src="https://imgs.search.brave.com/9AYKlqkqhkaYkPLnfAA7msaZRoYtp0PPi00VbnHvaB0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzJhLzdk/LzRjLzJhN2Q0YzRi/YzEzODFhNDc2Yjhi/OGE4NTg4NWFjMzky/LmpwZw"/>
    </div>
</div>